.nos-services {
  /*background-image: url("Arrière.png"); /* chemin vers ton image */
  /*background-size: 800px;       /* l’image couvre tout l’écran */
  /*background-repeat:no-repeat; /* évite la répétition */
  /*background-position: center;  /* centre l’image */
  width: 75%;
  height: 500px;
  margin: 0 auto;
}


@media all and (max-width:1000px) {
    .section {
        display: flex;
        flex-direction: column;
       width: 100%;
    }
    .para-apropos p {
        width: 170%;
    }
    .aligner img {
        width: 250px;
        height: 250px;
    }
    .card-item-details {
        width: 10px;
        padding: 0px;
    }
    .nos-services img {
        width: 300px;
        height: 350px;
    }
}